<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หน้าหลัก | ก๋วยเตี๋ยวร่มลื่น⛱️🍜</title>
    <link rel='icon' href='https://cdn.discordapp.com/attachments/894827053046718474/912345147587563571/noodles.png'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div style="display:flex; justify-content:center; align-items: center; width:100vw; height:100vh">
        <div style="width:70%">
            <h1 style="text-align: center;">สวัสดี {{myname}}</h1>
            <div class="d-grid gap-2 col-12">
                <a href="/menus" class="btn btn-primary" style="width:100%; box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(93, 93, 93, 0.12), 0 4px 4px rgba(93, 93, 93, 0.12), 0 8px 8px rgba(93, 93, 93, 0.12), 0 16px 16px rgba(93, 93, 93, 0.12);" type="button">สั่งอาหาร</a>
                <a href="/ordersummary" class="btn btn-primary" style="width:100%; box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(93, 93, 93, 0.12), 0 4px 4px rgba(93, 93, 93, 0.12), 0 8px 8px rgba(93, 93, 93, 0.12), 0 16px 16px rgba(93, 93, 93, 0.12);" type="button">รายการอาหารที่สั่ง</a>
                <a href="/money" class="btn btn-primary" style="width:100%; box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(93, 93, 93, 0.12), 0 4px 4px rgba(93, 93, 93, 0.12), 0 8px 8px rgba(93, 93, 93, 0.12), 0 16px 16px rgba(93, 93, 93, 0.12);" type="button">เก็บเงิน</a>
            </div>
        </div>
    </div>
</body>
</html>
